# FastAPI Backend Configuration
API_BASE_URL=http://localhost:8000/api
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# Database
# DB_URL=sqlite:///./sql_app.db
# DB_URL=postgresql://user:password@localhost/dbname

# ML Model Settings
MODEL_PATH=src/models/saved/
